.card-container {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  border-radius: 1em;
  border: 1px solid #cecece;
  padding: 0.2em 1em;
  transition: all 0.3s;
  font-size: 0.8em;
  cursor: pointer;
}

.card-container:hover {
  background-color: #fff;
  color: #000 !important;
}
.card-container:hover .card_date h4 {
  color: #000;
}
.card-container:hover .card_date h2 {
  color: #000;
}
.card-image {
  height: 50px; /* Ajusta la altura según tus necesidades */

  object-fit: contain; /* Para ajustar la imagen al contenedor sin deformarla */
  border-radius: 3em;
}
.card-container > div {
  display: flex;
  align-items: center;
  gap: 1em;
}
.card_winner {
  font-size: 1.3rem;
}
.card_date h4,
.card_date h2 {
  margin: 0;
  text-transform: capitalize;
}
.card_songs button {
  padding: 15px;
}
.song-list-hidden {
  display: none;
  margin-top: 10px;
}
.song-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
  border: 1px solid #999292;
  border-radius: 0em 0em 1em 1em;
  /* margin-top: -1rem; */
  border-top: unset;
}
