.ranking-container {
  /* border: 1px solid #ffffff60; */
  margin: 2em auto;
  text-align: center;
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0;
  position: relative;
}
.btn-closeRanking {
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
  border-radius: 10em;
  width: 1.8em;
  height: 1.8em;
  padding: 0em;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  font-weight: 800;
  transition: all 0.3s;
}
.btn-closeRanking:hover {
  transform: scale(1.2);
  background-color: #fff;
}
.btn-closeRanking:focus {
  outline: none !important;
  border: none;
}
.rank-container {
  /* width: 90%; */
  /* background-color: rgba(0, 253, 253, 0.267); */
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
}
.ranking-container h1 {
  margin: 0;
  font-weight: 500;
}
.rank {
  display: grid;
  grid-template-columns: 1fr 1fr 9fr;
  align-items: center;
  gap: 1em;
}
.rank img {
  height: 100%; /* Ajusta la altura según tus necesidades */
  width: 100%;
  object-fit: contain; /* Para ajustar la imagen al contenedor sin deformarla */
  border-radius: 3em;
}
.rank b {
  margin: 0;
  padding: 0;
}
.rank h3 {
  margin: 0;
}
.rank div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid #cacaca;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
