.App {
  font-family: "Montserrat";
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}
.home_body {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.home_body_section {
  max-height: 500px;
  border: 1px solid #ffffff1c;
  padding: 0.2em 1em;
}
.home_body_section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}
.home_body_section__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 80%;
  /* padding: 0.2em 1em; */
  overflow: auto;
}

.santa-cecilias_list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 80%;
  /* padding: 0.2em 1em; */
  overflow: auto;
}
.santa_cecilias-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}
.home_body_section__head div {
  display: flex;
  align-items: center;
  position: relative;
}
.home_body_section__head div button {
  margin: 0;
  background-color: #ffffff1c;
  padding: 0 0.3em;
  border-radius: 0.5em;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
}
.home_body_section__head input {
  margin: 0;
  padding: 0.5em;
  padding-left: 2.5em;
}
.santa_cecilias-head h1 {
  margin: 0;
}
.home_body_section__head form {
  display: flex;
  align-items: center;
  position: relative;
}
.home_body_section__head form button {
  margin: 0;
  background-color: #ffffff1c;
  padding: 0 0.3em;
  border-radius: 0.5em;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
}
