.App {
  font-family: "Montserrat";
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}
.home_body {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.home_body_section {
  max-height: 600px;
  /* border: 1px solid #ffffff1c; */
  padding: 0.2em 1em;
}
.home_body_section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_body_section__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  max-height: 80%;
}

.home_body_section__head div {
  display: flex;
  align-items: center;
  position: relative;
}
.home_body_section__head div button {
  margin: 0;
  background-color: #ffffff1c;
  padding: 0 0.3em;
  border-radius: 0.5em;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
}
.home_body_section__head input {
  margin: 0;
  padding: 0.5em;
  padding-left: 2.5em;
}
.santa_cecilias-head h1 {
  margin: 0;
}
.home_body_section__head form {
  display: flex;
  align-items: center;
  position: relative;
}
.home_body_section__head form button {
  margin: 0;
  background-color: #ffffff1c;
  padding: 0 0.3em;
  border-radius: 0.5em;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
}
.section_ranking-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* color de fondo semi-transparente */
  backdrop-filter: blur(5px); /* efecto de desenfoque */
  transition: all 0.15s ease-in-out;
  z-index: 2;
  display: grid;
  place-items: center;
}
.ranking-btn_home {
  position: absolute;
  top: 30px;
  right: 30px;
}
