.App {
  font-family: "Montserrat";
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}

.section_ranking-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* color de fondo semi-transparente */
  backdrop-filter: blur(10px); /* efecto de desenfoque */
  transition: all 0.15s ease-in-out;
  z-index: 2;
  display: grid;
  place-items: center;
}
.ranking-btn_home {
  position: absolute;
  top: 30px;
  right: 30px;
}
